.loaderContainer {
  display: flex;
  align-items: center;
}

.loaderDot {
  display: inline-block;
  border-radius: 100%;
  animation-fill-mode: both;
}

@keyframes beatLoaderAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.75);
    opacity: 0.2;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
