.avaChatResponseContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-right: 18px;
  align-self: flex-start;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.avaChatIconContainer {
  margin-right: 10px;
}

.avaChatIcon {
  width: 36px;
}

.avaChatResponse {
  background-color: #eaecf0;
  padding: 12px;
  border-radius: 0 16px 16px 16px;
  width: 100%;
}

.avaChatResponseText {
  font-size: 16px;
  font-weight: 400;
}
