.userQueryContainer {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 18px;
  align-self: flex-end;
  justify-content: flex-end;
}

.userQuery {
  background-color: #7d37ff;
  padding: 12px;
  border-radius: 16px 0 16px 16px;
  max-width: 100%;
  margin-left: 8px;
}

.userQueryText {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.errorIconContainer {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.errorIcon {
  width: 24px;
  height: 24px;
}

.editDeleteIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54px;
  cursor: pointer;
}

.deleteIcon {
  width: 24px;
  height: 24px;
}
